In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('questions.csv')
df

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404346,404346,789792,789793,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404347,404347,789794,789795,Do you believe there is life after death?,Is it true that there is life after death?,1
404348,404348,789796,789797,What is one coin?,What's this coin?,0
404349,404349,789798,789799,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404350,404350,789800,789801,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [7]:
df.shape

(404351, 6)

In [9]:
new_df = df.sample(30000)

In [11]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [13]:
new_df.duplicated().sum()

0

In [15]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
157213,Does Moto G4 support Reliance Jio 4G?,Does Moto G4 Plus support Reliance Jio 4G?
260222,What do you think was Shakespeare's MBTI?,Was Shakespeare wealthy?
10425,Can the same amount of ingested alcohol affect...,How does long term alcohol use affect the brain?
341312,How many classes are there in IP addressing?,"The median of the following observations 11,12..."
393649,What are the scopes for physiotherapy?,What is the scope in physiotherapy?

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [19]:

temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [21]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
157213,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10425,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
341312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193424,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [25]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
157213,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10425,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
341312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7411666666666666